* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   display: grid;
   column-gap: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: rgb(197, 190, 182);
 
  
}
    
header{
    background-color: rgb(1, 15, 46);
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar{
    display: flex;
    gap: 20px;
    
}
.navbar a{
text-decoration: none;
color: white;
font-weight: bold;
 transition: 0.3s;
}

.navbar a:hover{
    color: rgb(176, 201, 193);
    border-radius: 6px;
}

.dropdown{


}

.dropdown .drop-menu{
   border: none;

    
  ; 
}
/* Home Section */
#home {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("campus.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 80px 20px;
    min-height: 100vh;
}

/* Content Box */
#home .first {
    max-width: 800px;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
}

/* Main Title */
#home h1 {
    font-size: 36px;
    margin-bottom: 15px;
    color: #ffdd00;
}

/* Subtitles */
#home h2 {
    font-size: 22px;
    margin-top: 20px;
    color: #00ccff;
}

/* Paragraphs */
#home p {
    font-size: 16px;
    line-height: 1.6;
}

/* List Style */
#home ul {
    margin-top: 10px;
    padding-left: 20px;
}

#home ul li {
    font-size: 16px;
    margin-bottom: 8px;
}



/* Services section */
#services {
    padding: 50px 20px;
    text-align: center;
    background-color: #f5f5f5;
}

#services h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

#services p {
    margin-bottom: 30px;
    font-size: 18px;
}

/* Card container */
.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Card design */
.service-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

/* Hover effect */
.service-card:hover {
    transform: translateY(-10px);
}

/* Card images */
.service-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* Card content */
.card-content {
    padding: 15px;
}

.card-content h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

.card-content p {
    font-size: 14px;
    color: #555;
}

